
@{
    ViewBag.Title = "AboutMidad";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<section id="banner">
    <div class="inner">
        <header>
            <h1>منظمة مداد تعليم بلا حدود</h1>
            <p>Aliquam libero augue varius non odio nec faucibus congue<br />felis quisque a diam rutrum tempus massa accumsan faucibus purus.</p>
        </header>
        <a href="#main" class="button big scrolly">تعلم المزيد</a>
    </div>
</section>
<div id="main">
    <!-- Section -->
    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div style="text-align:right" class="col col2">
                    <h3>منظمة مداد</h3>
                    <p>مؤسسةُ تعليم بلا حدود / مداد منظمةُ مجتمعٍ مدني سوريَّة، مرخَّصةٌ في تركيا، متخصِّصة في التعليم، أنشأها مجموعةُ من العاملينَ والمتخصصينَ بالشأنِ التعليمي، تعملُ على وصولِ التعليم لجميع السوريينَ في كافَّة المناطقِ السوريَّة ولجميع المراحلِ التعليميَّةِ بدءاً من مرحلةِ التعليم الأساسيّ حتَّى المرحلة الثانويَّة، وتعطي اهتماماً خاصَّاً للتعليم المهني والتعليم الجامعي، وتسعى لتطويرِ العمل التعليمي من خلال الدراسات والأبحاث التعليميَّة</p>
                    @*<p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>*@
                    <a href="#" class="button">تعلم المزيد</a>
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <a href="generic.html" class="link"><img src="~/Content/ThemeContents/images/pic02.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
