html {
    height: 100%;
}
/**{
    font-family:"Cairo";
}*/
body {
    height: 100%;
}

.bg-full {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('Images/pexels-photo-247839.jpeg');
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: bottom;
    transform: scale(1.1);
}

.InfoContainer {
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 786px) {
    #TemplateForm {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 550px) {
    .WhiteBlur {
        background-color: rgba(255,255,255,0.9);
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 10px 30px;
        margin: auto;
        margin-top: 30px;
        text-align: right;
    }
    .Login-Card {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 550px) {
    .WhiteBlur {
        background-color: rgba(255,255,255,0.9);
        display: block;
        width: 70%;
        border-radius: 10px;
        padding: 10px 30px;
        margin: auto;
        margin-top: 30px;
        text-align: right;
    }
    .Login-Card {
        width: 400px;
        display: inline-block;

        right:0;
        left:0;
        margin: auto;
        padding: 20px;
    }
}

.WhiteBlur hr {
    border-top: 1px solid #a55c52;
}

.WhiteBlur h4, .WhiteBlur label {
    color: #a55c52;
}

.WhiteBlur h2, .WhiteBlur p, .WhiteBlur h3 {
    color: black;
}

.WhiteBlur a {
    color: #bb7c22;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    padding-right: 5px;
    text-align: right;
}

.HigherThanNumber::-webkit-input-placeholder {
    text-align: right;
}

.container {
    height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h2, p, h3 {
    color: white;
}

p {
    font-size: larger;
}

h2 {
    margin-bottom: 20px;
    font-family: Cairo;
}

label {
    font-family: Cairo;
}

label {
    color: white;
}

h4 {
    color: #f0ad4e;
    font-family: Cairo;
}

a {
    color: #a55c52;
    font-size: 16px;
    font-family: Cairo;
}

    a:hover, a:focus {
        color: white;
    }

th {
    font-size: 17px;
    font-weight: 100;
    font-family: Cairo;
}

th, tr {
    text-align: center;
    line-height: normal;
    vertical-align: central !important;
}

td {
    vertical-align: central !important;
}

.form-control {
    height: 37px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal h2 {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.form-group .ng-empty.ng-touched {
    border: 2px solid rgba(255, 0, 0, 0.6);
}

.form-group .ng-invalid-pattern.ng-dirty {
    border: 2px solid rgba(255, 0, 0, 0.6);
}

    .form-group .ng-invalid-pattern.ng-dirty .placeholder {
        color: rgba(255, 0, 0, 0.6);
    }

.form-group .ng-not-empty.ng-valid-pattern.ng-dirty {
    border: 2px solid rgba(36, 157, 127,0.6);
}

.form-group .ng-not-empty.ng-valid.ng-touched.ng-dirty {
    border: 2px solid rgba(36, 157, 127,0.6);
}

/*.Login-Background {
    background-image: url('Images/pexels-photo-247839.jpeg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    z-index: -1;
}*/

.Login-Card {
    position: absolute;
    top: 37.5%;
    background-color: rgba(255,255,255,0.7);
}

    .Login-Card h4 {
        margin-bottom: 3px !important;
    }

.Login-Fliter {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.Login-Button {
    width: 100%;
    margin-top: 20px;
}

.Login-TextBox {
    height: 1.5em;
    width: 100%;
    padding: 15px 5px 15px 5px;
}



/*.Login-Card-Mobile {
    position: fixed;
    background-color: rgba(255,255,255,0.7);
}

.Login-Background-Mobile {
    background-image: url('Images/Photo.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}*/

.Search-TextBox {
    height: 1.5em;
    line-height: 1.5em;
    padding: 15px 5px 15px 5px;
}

.NavBar-Type {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 90.7px;
}

    .NavBar-Type:hover {
        color: #ec971f;
        text-decoration: none;
    }

.SideBar {
    height: 100%;
    padding-bottom: 100px;
    background-color: rgba(37, 8, 4,0.7);
    color: white;
    width: 100%;
    float: right;
    overflow: auto;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: rgba(36, 157, 127,0.6);
    scrollbar-arrow-color: #FFFFFF;
}

    .SideBar::-webkit-scrollbar {
        width: 12px;
    }

    .SideBar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .SideBar::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #676767;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }


    .SideBar a {
        width: 100%;
        height: 30px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 18px;
        display: block;
        padding: 30px 40px 30px 40px;
        text-align: right;
    }

        .SideBar a:hover {
            color: #ec971f;
        }

.table-striped {
    direction: rtl;
    margin-bottom: 0;
}

#table_wrapper {
    width: 100%;
    overflow: auto;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: rgba(36, 157, 127,0.6);
    scrollbar-arrow-color: #FFFFFF;
    direction: rtl;
}

    #table_wrapper::-webkit-scrollbar {
        width: 12px;
    }

    #table_wrapper::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #table_wrapper::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(239, 172, 78,0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }



#table_wrapper2 {
    width: 100%;
    overflow: auto;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: rgba(36, 157, 127,0.6);
    scrollbar-arrow-color: #FFFFFF;
    direction: rtl;
}

    #table_wrapper2::-webkit-scrollbar {
        width: 12px;
    }

    #table_wrapper2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #table_wrapper2::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(239, 172, 78,0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

thead .bg-primary {
    background-color: rgba(37, 8, 4,0.7);
}

#leftMenu {
    transition: all ease 0.4s;
    overflow: hidden;
}

#togglebutton {
    background-color: none;
    color: white;
    line-height: 44px;
}

    #togglebutton:hover {
        background-color: none;
        color: #ec971f;
        cursor: pointer;
    }

.navbar-fixed-top {
    background-color: rgba(37, 8, 4,0.7);
}

.navbar-brand {
    display: inline-block;
}

.navbar-fixed-top a {
    color: white;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #cacaca;
}

.ImageLogo {
    width: 120px;
}

    .ImageLogo:hover, .ImageLogo:focus {
        cursor: pointer;
    }

#btnExport, #btnExport2 {
    margin-top: 20px;
}

.HomePageNavBar {
    margin-right: 150px;
}

    .HomePageNavBar > li {
        height: 73px;
    }

        .HomePageNavBar > li:hover, .HomePageNavBar > li:focus, .HomePageNavBar > li:active {
            background-color: rgba(37, 8, 4,0.3);
        }

        .HomePageNavBar > li > a {
            line-height: 44px;
        }

            .HomePageNavBar > li > a:hover, .HomePageNavBar > li > a:focus, .HomePageNavBar > li > a:active {
                background-color: rgba(37, 8, 4,0.3);
            }

    .HomePageNavBar .open > a, .HomePageNavBar .open > a:hover, .HomePageNavBar .open > a:focus {
        background-color: rgba(37, 8, 4,0.3);
    }

    .HomePageNavBar .open .dropdown-menu {
        background-color: rgba(37, 8, 4,0.8);
        text-align: right;
    }

        .HomePageNavBar .open .dropdown-menu > li > a {
            color: white;
        }

            .HomePageNavBar .open .dropdown-menu > li > a:hover, .HomePageNavBar .open .dropdown-menu > li > a:focus {
                color: #eea236;
                background-color: rgba(37, 8, 4,0.3);
            }

.navbar-fixed-top {
    height: 75px;
}
