@{
    ViewBag.Title = "طلبات";
}
<div ng-controller="OrdersCtrl">
    <h2>طلبات</h2>

    @using (Html.BeginForm("Create", "Orders", FormMethod.Get))
    {
        <div style="margin-bottom:15px;">
            <button type="submit" class="btn btn-warning">انشاء جديد</button>
        </div>
    }

    <div class="col-md-12" style="margin-bottom:20px;padding:0;border:0">
        <div class="col-md-10" style="margin:0;padding:0;border:0">
            <input type="text" class="form-control " style="display:inline-block !important;text-align:right" name="search" id="search" placeholder="...البحث" ng-change="OrderSearchBox()" ng-model="OrderSearchBoxData" />
        </div>
        <div class="col-md-2" style="margin:0;padding:0;border:0">
            <input type="date" class="form-control " style="display:inline-block !important;" name="searchdate" id="searchdate" ng-change="OrderSearchBox()" ng-model="OrderSearchBoxDate" />
        </div>
    </div>


    <div id="table_wrapper">
        <table class="table table-striped">
            <thead>

                <tr class="bg-primary">
                    <th rowspan="2">
                        الاسم
                    </th>
                    <th rowspan="2">
                        الكنية
                    </th>
                    <th rowspan="2">
                        المعلومات
                    </th>

                    <th rowspan="2">
                        البند
                    </th>
                    <th rowspan="2">
                        المركز
                    </th>
                    <th rowspan="2">
                        سعر القطعة
                    </th>
                    <th rowspan="2">
                        العدد
                    </th>
                    <th rowspan="2">
                        التاريخ
                    </th>
                    <th rowspan="2">
                        الوقت
                    </th>
                    <th rowspan="1" colspan="3">التواقيع</th>
                    <th rowspan="2">
                        الحالة
                    </th>
                    <th rowspan="2">
                        الشراء
                    </th>
                    <th rowspan="2">
                        الاثبات
                    </th>


                    @if (Session["Finance"] != null && Session["CoManager"] != null)
                    {
                        if ((bool)Session["Finance"] == true && (bool)Session["CoManager"] == true)
                        {
                            <th rowspan="2">
                                انهاء
                            </th>
                        }
                    }



                </tr>
                <tr class="bg-primary">

                    <th>
                        1
                    </th>
                    <th>
                        2
                    </th>

                    <th>
                        3
                    </th>
                </tr>
            </thead>


            <tbody>
                <tr ng-repeat="Order in Orders">
                    <td>
                        {{Order.EmployeeName}}
                    </td>
                    <td>
                        {{Order.EmployeeSurname}}
                    </td>
                    <td>
                        {{Order.Subject}}
                    </td>
                    <td>
                        {{Order.Bnd}}
                    </td>
                    <td>
                        {{Order.Center}}
                    </td>
                    <td>
                        {{Order.PeacePrice | currency}}
                    </td>
                    <td>
                        {{Order.Quantity}}
                    </td>
                    <td>
                        {{Order.Date | date:'MM/dd/yyyy'}}
                    </td>
                    <td>
                        {{Order.Time.Hours}}:{{Order.Time.Minutes}}
                    </td>
                    <td>
                        <span ng-if="Order.FirstLevelSign == true">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>


                        <span ng-if="Order.FirstLevelSign != true">
                            @if (Session["CoManager"] != null && Session["SeeAll"] != null)
                            {
                                if (Session["Finance"] == null)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["SeeAll"] == true)
                                    {

                                        <a href="Orders/ConfirmOrder/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }
                                }
                                else if ((bool)Session["Finance"] == false)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["SeeAll"] == true)
                                    {
                                        <a href="Orders/ConfirmOrder/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }
                                }


                            }
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.SecondLevelSign == true">

                            @if (Session["CoManager"] != null && Session["Finance"] != null)
                            {
                                if ((bool)Session["CoManager"] == true && (bool)Session["Finance"] == true)
                                {

                                    <select ng-if="Order.Bnd == null" class="form-control" ng-change="BndChange(Order.id,BndAssign)" ng-model="BndAssign">
                                        <option ng-repeat="Bnd in Bnds" value="{{Bnd.id}}">{{Bnd.Name}}</option>
                                    </select>
                                    <span ng-if="Order.Bnd != null" class="glyphicon glyphicon-ok"></span>

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }


                        </span>
                        <span ng-if="Order.SecondLevelSign != true">
                            @if (Session["CoManager"] != null && Session["Finance"] != null)
                            {
                                if ((bool)Session["CoManager"] == true && (bool)Session["Finance"] == true)
                                {
                                    <a href="Orders/ConfirmOrder/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                }

                            }
                        </span>
                    </td>
                    <td>

                        <span ng-if="Order.ThirdLevelSign == true">

                            <span class="glyphicon glyphicon-ok"></span>


                        </span>
                        <span ng-if="Order.ThirdLevelSign != true">
                            @if (Session["Manager"] != null && Session["AddNewProject"] != null)
                            {
                                if ((bool)Session["Manager"] == true && (bool)Session["AddNewProject"] == true)
                                {
                                    <a href="Orders/ConfirmOrder/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                }

                            }
                        </span>

                    </td>
                    <td>
                        {{Order.State}}
                    </td>
                    <td>
                        <span ng-if="Order.proof == null && Order.EmployeeID == empid && Order.Bought == true && Order.FirstLevelSign == true && Order.SecondLevelSign == true && Order.ThirdLevelSign == true">
                            <input id="{{Order.id}}" type="file" aria-label="Add photos to your post" class="upload" multiple name="file" onchange="angular.element(this).scope().LoadFileData(this.files,this.id)" accept="image/*,application/vnd.ms-excel,application/zip,application/pdf,application/msword">
                        </span>
                        <span ng-if="Order.proof != null && Order.EmployeeID == empid && Order.Bought == true && Order.FirstLevelSign == true && Order.SecondLevelSign == true && Order.ThirdLevelSign == true">
                            <a ng-href="@Url.Action("DownloadProof","Json")/{{Order.proof}}" class="btn btn-warning"><span class="glyphicon glyphicon-download-alt"></span></a>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.EmployeeID == empid && Order.Bought == true && Order.FirstLevelSign == true && Order.SecondLevelSign == true && Order.ThirdLevelSign == true"><span class="glyphicon glyphicon-ok"></span></span>
                        <span ng-if="Order.EmployeeID == empid && Order.Bought != true && Order.FirstLevelSign ==true &&Order.SecondLevelSign ==true &&Order.ThirdLevelSign ==true"><a href="Orders/CheckBought/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a></span>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
    <button id="btnExport" class="btn btn-warning">xls تصدير ل </button>

</div>