@{
    ViewBag.Title = "طلابات";
}
<div ng-controller="OrdersCtrl">
    <h2>Index</h2>

    @using (Html.BeginForm("Create","Orders", FormMethod.Get))
    {
    <button type="submit" class="btn btn-warning">انشاء جديد</button>
    }

    <div class="col-md-12" style="margin-bottom:20px;padding:0;border:0">
        <div class="col-md-10" style="margin:0;padding:0;border:0">
            <input type="text" class="form-control " style="display:inline-block !important;text-align:right" name="search" id="search" placeholder="...البحث" ng-change="OrderSearchBox()" ng-model="OrderSearchBoxData" />
        </div>
        <div class="col-md-2" style="margin:0;padding:0;border:0">
            <input type="date" class="form-control " style="display:inline-block !important;" name="searchdate" id="searchdate" ng-change="OrderSearchBox()" ng-model="OrderSearchBoxDate" />
        </div>
    </div>


    <div id="table_wrapper">
        <table class="table table-striped">
            <thead>

                <tr class="bg-primary">
                    @if (Session["Finance"] != null && Session["CoManager"] != null)
                    {
                        if ((bool)Session["Finance"] == true && (bool)Session["CoManager"] == true)
                        {
                            <th rowspan="2">
                                انهاء
                            </th>
                        }
                    }

                    <th rowspan="2">
                        الحالة
                    </th>
                    <th rowspan="1" colspan="2">بعد الاستلام</th>

                    <th rowspan="1" colspan="2">بعد البعث</th>

                    <th rowspan="2">
                        الاثبات
                    </th>
                    <th rowspan="1" colspan="7">التواقيع</th>

                    <th rowspan="2">
                        الوقت
                    </th>
                    <th rowspan="2">
                        التاريخ
                    </th>
                    <th rowspan="2">
                        العدد
                    </th>
                    <th rowspan="2">
                        سعر القطعة
                    </th>
                    <th rowspan="2">
                        المركز
                    </th>

                    <th rowspan="2">
                        البند
                    </th>
                    <th rowspan="2">
                        المعلومات
                    </th>
                    <th rowspan="2">
                        الكنية
                    </th>
                    <th rowspan="2">
                        الاسم
                    </th>
                </tr>
                <tr class="bg-primary">
                    <th>
                        2
                    </th>
                    <th>
                        1
                    </th>
                    <th>
                        2
                    </th>
                    <th>
                        1
                    </th>

                    <th>
                        7
                    </th>
                    <th>
                        6
                    </th>
                    <th>
                        5
                    </th>
                    <th>
                        4
                    </th>
                    <th>
                        3
                    </th>
                    <th>
                        2
                    </th>
                    <th>
                        1
                    </th>
                </tr>
            </thead>


            <tbody>
                <tr ng-repeat="Order in Orders">


                    @if (Session["Finance"] != null && Session["CoManager"] != null)
                    {
                        <td>
                            @if ((bool)Session["Finance"] == true && (bool)Session["CoManager"] == true)
                            {
                                <span ng-if="Order.FirstLevelSign && Order.SecondLevelSign && Order.ThirdLevelSign && Order.FourthLevelSign && Order.FifthLevelSign && Order.SixthLevelSign && Order.SeventhLevelSign && Order.SendingLevelSign && Order.RecievingLevelSign && Order.AfterRecieveFirstLevelSign && Order.AfterRecieveSecondLevelSign">
                                    <a href="Orders/Close"><span class="glyphicon glyphicon-ok"></span></a>
                                </span>

                            }
                        </td>


                    }


                    <td>
                        {{Order.State}}
                    </td>
                    <td>
                        <span ng-if="Order.AfterRecieveSecondLevelSign">
                            @if (Session["Manager"] != null && Session["AddNewProject"] != null)
                            {
                                <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>

                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.AfterRecieveFirstLevelSign">
                            @if (Session["CoManager"] != null && Session["Finance"] != null)
                            {
                                <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>

                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.RecievingLevelSign">
                            <span ng-if="Order.EmployeeID==empid">
                                <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                            </span>
                            <span ng-if="Order.EmployeeID==empid">
                                <span class="glyphicon glyphicon-ok"></span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.SendingLevelSign">
                            @if (Session["CoManager"] != null && Session["Finance"] != null)
                            {
                                if ((bool)Session["CoManager"] == true && (bool)Session["Finance"] == true)
                                {
                                    <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                }

                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                        </span>
                    </td>
                    <td>
                        <span ng-if="Exam.Proof != null">
                            <a href="/Json/DownloadProof/{{Exam.Proof}}">تحميل</a>
                        </span>
                    </td>


                    <td>
                        <span ng-if="Order.SeventhLevelSign != null">
                            <span ng-if="Order.SeventhLevelSign == true">
                                @if (Session["Manager"] != null && Session["AddNewProject"] != null)
                                {
                                    if ((bool)Session["Manager"] == true && (bool)Session["AddNewProject"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.SixthLevelSign != null">
                            <span ng-if="Order.SixthLevelSign == true">
                                @if (Session["Finance"] != null && Session["CoManager"] != null)
                                {
                                    if ((bool)Session["Finance"] == true && (bool)Session["CoManager"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.FifthLevelSign != null">
                            <span ng-if="Order.FifthLevelSign == true">
                                @if (Session["Manager"] != null && Session["AddNewProject"] != null)
                                {
                                    if ((bool)Session["Manager"] == true && (bool)Session["AddNewProject"] != true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.FourthLevelSign != null">
                            <span ng-if="Order.FourthLevelSign == true">
                                @if (Session["CoManager"] != null && Session["SeeAll"] != null)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["SeeAll"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.ThirdLevelSign != null">
                            <span ng-if="Order.ThirdLevelSign == true">
                                @if (Session["CoManager"] != null && Session["HighAcceptance"] != null)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["HighAcceptance"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.SecondLevelSign != null">
                            <span ng-if="Order.FirstLevelSign == true">
                                @if (Session["CoManager"] != null && Session["AddCitesAndCenters"] != null)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["AddCitesAndCenters"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }

                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="Order.FirstLevelSign != null">
                            <span ng-if="Order.FirstLevelSign == true">
                                @if (Session["CoManager"] != null && Session["SeeAccToCity"] != null)
                                {
                                    if ((bool)Session["CoManager"] == true && (bool)Session["SeeAccToCity"] == true)
                                    {
                                        <a href="Orders/Edit/{{Order.id}}"><span class="glyphicon glyphicon-ok"></span></a>
                                    }

                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                            </span>
                        </span>
                    </td>
                    <td>
                        {{Order.Time.Hours}}:{{Order.Time.Minutes}}
                    </td>
                    <td>
                        {{Order.Date | date:'MM/dd/yyyy'}}
                    </td>
                    <td>
                        {{Order.Quantity}}
                    </td>

                    <td>
                        {{Order.PeacePrice}}
                    </td>
                    <td>
                        {{Order.Center}}
                    </td>
                    <td>
                        {{Order.Bnd}}
                    </td>
                    <td>
                        {{Order.Desc}}
                    </td>
                    <td>
                        {{Order.EmployeeSurname}}
                    </td>
                    <td>
                        {{Order.EmployeeName}}
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
    <button id="btnExport" class="btn btn-warning">Export to xls</button>

</div>